@model XiaBags_Ecommerce.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2 class="mt-4">Product details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.ImageURL)" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageThumbnailURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageThumbnailURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockInHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockInHand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId" class="btn btn-info mt-2 me-2">Edit</a>
    <a asp-action="Index" class="btn btn-outline-dark mt-2">Back to List</a>
</div>
